/*https://colorhunt.co/palette/16423c6a9c89c4dad2e9efec*/
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Rubik&family=Titillium+Web&display=swap');
@import "tailwindcss";

body{
    margin: 0;
    font-family: "Funnel Display", sans-serif;
}

.p-component {
    font-family: inherit !important;
}

*{
    user-select: none;
}

:root {
    --main-color: #16423C;
    --secondary-color: #6A9C89;
    --third-color: #C4DAD2;
    --green: #00e676;
    --red: #ff5252;
}

.green{
    color: var(--green);
}

.red{
    color: var(--red);
}

.p-speeddial-button{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 2px solid;
}

/* .p-button{
    background-color: #042f2e;
    color: whitesmoke;
    border: none;
} */