.filtros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.filtro-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.palabra-filtro{
    width: 20rem;
    border-radius: 10px;
    padding-left: 15px;
}

.input-select-filtro{
    border: solid 2px var(--main-color);
    outline: none;
    font-size: 1rem;
}

.total-filtros{
    background-color: var(--main-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.movimientos-busqueda{
    margin-bottom: 1rem;
}

/* SMARTPHONES */
@media (max-width: 480px){
    .filtros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .filtro-element{
        margin-bottom: 1rem;
    }

    .palabra-filtro{
        width: 100%;
    }

    .borrar-filtro{
        width: 90vw;
    }

    .movimientos-container tr{
        border-bottom: 2px solid var(--main-color);
    }

    .movimientos-busqueda table{
        width: 80vw;
    }

}