.default-form{
    background-color: var(--main-color);
    margin: 3rem 3rem 0px 3rem;
    color: whitesmoke;
    padding: 2rem;
    border-radius: 10px;
}

.default-form > div{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.select-tipo-tarjeta{
    border-radius: 2px;
    outline: none;
    height: 1.5rem;
    font-size: 1.5;
}

.default-form center{
    font-size: 1.5rem;
}

.default-form label{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.submit-button{
    background-color: #41a1ce;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    user-select: none;
    align-self: center;
    color: whitesmoke;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.submit-button:hover{
    cursor: pointer;
}

.input-form{
    border: none;
    outline: none;
    height: 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
}

.input-select{
    border: none;
    outline: none;
    height: 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
}

.input-date{
    border: none;
    outline: none;
    height: 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
}

.input-color{
    border: none;
    outline: none;
    height: 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    max-width: 3rem;
    margin-left: 1rem;
}

.alias-color-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.alias-input{
    width: 100%;
}