.pago-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.pago-data{
    border-radius: 10px;
    color: whitesmoke;
    padding: 1rem;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.no-pagado{
    color: red;
}

.pagado{
    color: var(--green);
}

.pagos-container{
    padding: 1rem;
}

.pago-status{
    background-color: var(--main-color);
    width: 15rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    align-self: flex-end;
    margin-right: 2rem;
    padding-top: 5px;
    color: whitesmoke;
}

/*Switch*/

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    border-radius: 25px;
    transition: background-color 0.4s;
  }
  
  .switch label::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 2.5px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
  }
  
  .switch input:checked + label {
    background-color: #4caf50;
  }
  
  .switch input:checked + label::before {
    transform: translateX(25px);
  }

  /*Checkbox*/
  .checkbox-container2 {
    display: flex;
    align-items: center;
    gap: 8px; /* Espaciado entre el texto y el checkbox */
    font-size: 16px; /* Tamaño de texto */
  }
  
  .checkbox-container2 input[type="checkbox"] {
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    width: 20px; /* Ancho del checkbox */
    height: 20px; /* Alto del checkbox */
    border: 2px solid whitesmoke; /* Borde verde */
    border-radius: 4px; /* Bordes redondeados */
    outline: none; /* Sin borde de enfoque predeterminado */
    cursor: pointer; /* Cambia el cursor a puntero */
    background-color: whitesmoke;
  }
  
  .checkbox-container2 input[type="checkbox"]:checked {
    background-color: whitesmoke; /* Fondo verde al estar seleccionado */
    border-color: whitesmoke; /* Borde verde */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .checkbox-container2 input[type="checkbox"]:checked::before {
    content: "✔"; /* Palomita */
    color: var(--main-color); /* Color de la palomita */
    font-size: 12px; /* Tamaño de la palomita */
    position: absolute;
  }

  .pagos-container{
    margin-bottom: 5rem;
  }

  /* SMARTPHONES */
@media (max-width: 480px){
  .pago-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}