.periodos-container{
    padding: 1rem;
}

.periodo-card{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.periodo-data{
    background-color: var(--main-color);
    color: whitesmoke;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.periodo-card .alias{
    font-weight: 500;
}

.alias{
    width: 15%;
    text-align: left;
}

.periodo-card .fecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.periodo-actual{
    background-color: var(--main-color);
    width: 12rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    margin-right: 2rem;
    align-self: flex-end;
}

.pago-pendiente{
    background-color: var(--main-color);
    width: 12rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    margin-right: 2rem;
    align-self: flex-end;
}

.periodos-container .tarjeta-name{
    font-weight: 600;
    font-size: 1.5rem;
}